<button class="btn btn-info float-end" (click)="download()">
  DESCARGAR PFD
</button>
<div id="id">
  <h1>pdf works!</h1>
  <h1>pdf works!</h1>
  <h1>pdf works!</h1>
  <h1>pdf works!</h1>
  <h1>pdf works!</h1>
  <h1>pdf works!</h1>
  <h1>pdf works!</h1>
  <h1>pdf works!</h1>
  <h1>pdf works!</h1>
  <h1>pdf works!</h1>
  <h1>pdf works!</h1>
  <h1>pdf works!</h1>
  <h1>pdf works!</h1>
  <h1>pdf works!</h1>
  <h1>pdf works!</h1>
  <h1>pdf works!</h1>
  <h1>pdf works!</h1>
  <h1>pdf works!</h1>
  <h1>pdf works!</h1>
  <h1>pdf works!</h1>
  <h1>pdf works!</h1>
  <h1>pdf works!</h1>
  <h1>pdf works!</h1>
  <h1>pdf works!</h1>
</div>
