<div class="container mt-5">
  <div class="row cuerpo">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">CARNETS</span>
          <div class="row mb-4 mt-4">
            <div class="col-10">
              <select
                class="form-select form-select-lg mb-4"
                id="slcJugador"
                #slcJugador
              >
                <option
                  *ngFor="let jugador of listJugadores"
                  [ngValue]="jugador"
                  [value]="jugador._id"
                >
                  {{ jugador.nombres }}
                </option>
              </select>
            </div>
            <div class="col-2">
              <button
                class="btn btn-info float-start"
                (click)="seleccionado(this.slcJugador.value)"
              >
                AGREGAR
              </button>
            </div>
          </div>
          <table
            *ngIf="listJugadoresTabla.length > 0"
            class="table table-hover mt-4"
          >
            <thead>
              <tr>
                <th scope="col">DNI</th>
                <th scope="col">Nombre</th>
                <th scope="col">Categoria</th>
                <th scope="col">Club</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let Jugador of listJugadoresTabla">
                <th scope="row">{{ Jugador.dni }}</th>
                <td>{{ Jugador.nombres }} {{ Jugador.apellidos }}</td>
                <td>{{ Jugador.categoria }}</td>
                <td>{{ Jugador.club_actual }}</td>
              </tr>
            </tbody>
          </table>

          <div class="row mb-4">
            <div class="col-4">
              <button
                *ngIf="listJugadoresTabla.length > 0"
                class="btn btn-danger float-end"
                (click)="quitar()"
              >
                Quitar Ultimo Agregado
              </button>
            </div>
            <div class="col-4"></div>
            <div class="col-4">
              <button
                *ngIf="listJugadoresTabla.length > 0"
                class="btn btn-success"
                (click)="ver()"
              >
                VER CARNET(S)
              </button>
            </div>
          </div>
          <h5
            *ngIf="listJugadoresTabla.length == 0"
            style="text-align: center; margin-top: 10px"
          >
            Agrega Jugadores a la tabla
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
