<div class="container mt-5">
  <div class="row cuerpo">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">JUGADORES</span>
          <button
            class="btn btn-info float-end"
            [routerLink]="['/crear-jugador']"
          >
            NUEVO
          </button>
          <table
            *ngIf="listJugadores.length > 0"
            class="table table-hover mt-4"
          >
            <thead>
              <tr>
                <th scope="col">DNI</th>
                <th scope="col">Nombre</th>
                <th scope="col">Categoria</th>
                <th scope="col">Club</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let Jugador of listJugadores">
                <th scope="row">{{ Jugador.dni }}</th>
                <td>{{ Jugador.nombres }} {{ Jugador.apellidos }}</td>
                <td>{{ Jugador.categoria }}</td>
                <td>{{ Jugador.club_actual }}</td>
                <td>
                  <i
                    [routerLink]="['/editar-jugador', Jugador._id]"
                    class="fa fa-pencil text-success"
                  ></i
                  ><i
                    (click)="eliminarJugador(Jugador._id)"
                    class="fa fa-trash text-primary"
                  ></i>
                </td>
              </tr>
            </tbody>
          </table>
          <h5
            *ngIf="listJugadores.length == 0"
            style="text-align: start; margin-top: 10px"
          >
            Actualmente no existen jugadores
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
